<!DOCTYPE html>

<html>
    
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        
        
        <div th:fragment="menu">
    <nav>
        <a href="/principal">Inicio</a>
        <th:block th:if="${session.usuario.rol == 'ADMIN'}">
            <a href="/usuarios/lista">Usuarios</a>
        </th:block>
        <th:block th:if="${session.usuario.rol == 'SOPORTE' or session.usuario.rol == 'ADMIN'}">
            <a href="/servicios/lista">Servicios</a>
        </th:block>
        <th:block th:if="${session.usuario.rol == 'CLIENTE'}">
            <a href="/mis-solicitudes">Mis Solicitudes</a>
        </th:block>
        <a href="/logout">Cerrar Sesión</a>
    </nav>
</div>
        
        
    </body>
    
    
    
    
</html>
