<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Registrarse</title></head>
<body>
    <div th:insert="~{fragments :: menu}"></div>
    <form th:action="@{/procesarRegistro}" th:object="${usuario}" method="post">
        <input th:field="*{email}" />
        <input th:field="*{clave}" type="password" />
        <select th:field="*{rol}">
            <option value="CLIENTE">Cliente</option>
            <!-- Admin/Soporte solo por Admin -->
        </select>
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>